.main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textBlock {
  max-width: 500px;
  margin: 0 auto;
}
.heading {
  font-size: 1.5em;
  font-weight: 900;
}
